.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--clr1);
    color: var(--clr1bg);
    padding-block: 1em;
}

.app-nav {
    display: flex;
    gap: 2em;
}

.nav {
    width: 5em;
    text-align: center;
}

.nav:hover {

    background-color: white;
    border-radius: 100vh;
}